* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #4B4F55;
  font-family: Arial, Helvetica, sans-serif; }

main {
  padding: 0px 40px; }
  @media screen and (min-width: 600px) {
    main {
      padding: 0px 100px; } }

section {
  margin-bottom: 100px; }
  @media screen and (min-width: 1240px) {
    section {
      margin-bottom: 200px; } }

span {
  color: #F3BD52; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style: none;
  font-family: "Playfair Display", serif; }

h1 {
  text-transform: uppercase;
  font-family: "Londrina Outline", serif;
  font-size: 90px;
  font-weight: 1;
  color: white;
  line-height: 80px; }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 96px; } }
  @media screen and (min-width: 1240px) {
    h1 {
      font-size: 150px;
      line-height: 140px; } }

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Londrina Outline", serif;
  color: #F3BD52;
  font-size: 40px; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 60px; } }

p {
  font-family: "Playfair Display", serif;
  color: #fff9;
  font-size: 20px;
  line-height: 35px; }
  @media screen and (min-width: 600px) {
    p {
      font-size: 25px; } }
  @media screen and (min-width: 1240px) {
    p {
      font-size: 35px; } }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0px 40px; }
  @media screen and (min-width: 600px) {
    .hero {
      padding: 0px 100px; } }
  .hero p {
    margin-bottom: 10px; }
    @media screen and (min-width: 1240px) {
      .hero p {
        margin: 25px 0px; } }
  .hero ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center; }
    @media screen and (min-width: 600px) {
      .hero ul {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (min-width: 1240px) {
      .hero ul {
        grid-template-columns: 150px 150px 150px; } }
    .hero ul li {
      padding: 5px;
      border: 1px solid #F3BD52; }
      @media screen and (min-width: 600px) {
        .hero ul li {
          padding: 10px; } }

@media screen and (min-width: 600px) {
  .intro {
    display: flex;
    align-items: center;
    gap: 10px; } }
.intro .profile {
  display: flex;
  justify-content: center; }
.intro .me-pic {
  width: 130px;
  height: 130px;
  border-radius: 20%;
  margin: 50px 0px; }
  @media screen and (min-width: 600px) {
    .intro .me-pic {
      transform: translateY(-20px); } }
@media screen and (min-width: 1240px) {
  .intro p {
    text-align: center;
    line-height: 60px; } }

.skills-container h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 90px; }
  @media screen and (min-width: 600px) {
    .skills-container h2 {
      font-size: 40px; } }
.skills-container .icons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .skills-container .icons-container {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 1240px) {
    .skills-container .icons-container {
      grid-template-columns: repeat(4, 1fr); } }
  .skills-container .icons-container i {
    font-size: 80px;
    color: white;
    margin: 30px 0px; }
    .skills-container .icons-container i:hover {
      transform: translateY(-10px);
      transition: .2s ease-in; }

#portfolio h2 {
  margin-bottom: 50px; }
#portfolio .cheeky-txt {
  color: white;
  font-family: "Londrina Outline", serif;
  font-size: 30px;
  margin-bottom: 50px; }
  @media screen and (min-width: 600px) {
    #portfolio .cheeky-txt {
      text-align: center; } }
  @media screen and (min-width: 1240px) {
    #portfolio .cheeky-txt {
      font-size: 50px;
      margin-bottom: 100px; } }
#portfolio .desk-tabl-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; }
  @media screen and (min-width: 600px) {
    #portfolio .desk-tabl-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 1240px) {
    #portfolio .desk-tabl-grid {
      grid-template-columns: repeat(3, 1fr); } }
#portfolio .portfolio-cards {
  padding: 70px 30px;
  border: 2px solid #3E7CB1;
  border-radius: 5px;
  font-family: "Playfair Display", serif;
  position: relative; }
  #portfolio .portfolio-cards h3 {
    color: white;
    margin-bottom: 15px; }
  #portfolio .portfolio-cards p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px; }
  #portfolio .portfolio-cards a {
    padding: 10px;
    border: 2px solid #3E7CB1; }
  #portfolio .portfolio-cards i {
    font-size: 50px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: white; }

#contact p {
  color: white;
  text-align: center;
  margin: 50px 0px; }
#contact .contact-icons {
  text-align: center; }
  #contact .contact-icons i {
    font-size: 50px;
    color: white;
    margin: 15px; }
    @media screen and (min-width: 1240px) {
      #contact .contact-icons i {
        font-size: 80px; } }

footer {
  background-color: black;
  color: white;
  padding: 41px; }
  @media screen and (min-width: 600px) {
    footer {
      padding: 70px 150px; } }
  @media screen and (min-width: 1240px) {
    footer {
      padding: 70px 450px; } }
  footer p {
    font-size: 16px; }
    @media screen and (min-width: 1240px) {
      footer p {
        text-align: center; } }
  footer .footer-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0px; }
  footer ul {
    line-height: 25px; }
    @media screen and (min-width: 1240px) {
      footer ul {
        text-align: center; } }

.body-margn {
  padding: 0px 40px;
  margin-bottom: 100px; }
  @media screen and (min-width: 600px) {
    .body-margn {
      padding: 100px; } }

.abt-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .abt-container h1 {
    transform: translateY(-40px); }
    @media screen and (min-width: 600px) {
      .abt-container h1 {
        transform: translateY(-70px); } }

.abt-description p {
  font-size: 16px;
  color: white; }
  @media screen and (min-width: 600px) {
    .abt-description p {
      font-size: 20px; } }
  @media screen and (min-width: 1240px) {
    .abt-description p {
      font-size: 25px;
      line-height: 40px; } }

.home-button {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  @media screen and (min-width: 600px) {
    .home-button {
      margin-top: 80px; } }
  .home-button a {
    padding: 10px 50px;
    border: 1px solid #F3BD52;
    font-size: 20px;
    font-family: "Playfair Display", serif; }

/*# sourceMappingURL=style.css.map */
