@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #4b4f55;
  margin: 0 auto;
  max-width: 1470px; }

main {
  padding: 0px 40px; }
  @media screen and (min-width: 600px) {
    main {
      padding: 0px 100px; } }

section {
  margin-bottom: 100px; }
  @media screen and (min-width: 1240px) {
    section {
      margin-bottom: 200px; } }

span {
  color: #f3bd52; }

hr {
  color: #f3bd52; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style: none;
  font-family: "Playfair Display", serif; }

h1 {
  text-transform: uppercase;
  font-family: "Londrina Outline";
  font-size: 90px;
  font-weight: 1;
  color: white;
  line-height: 80px; }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 96px; } }
  @media screen and (min-width: 1240px) {
    h1 {
      font-size: 150px;
      line-height: 140px; } }

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Londrina Outline";
  color: #f3bd52;
  font-size: 40px; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 60px; } }

p {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 27px;
  line-height: 40px; }
  @media screen and (min-width: 600px) {
    p {
      font-size: 25px; } }
  @media screen and (min-width: 1240px) {
    p {
      font-size: 35px; } }

.main-nav {
  position: fixed;
  width: 100%;
  max-width: 1470px;
  text-align: end;
  background-color: black;
  z-index: 1000; }
  .main-nav i {
    font-size: 30px;
    color: #f3bd52;
    margin: 30px;
    cursor: pointer; }
    .main-nav i:hover {
      color: white; }
  .main-nav .ham-menu {
    display: none; }
  .main-nav .active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99;
    background-color: #f3bd52;
    text-align: center; }
    .main-nav .active li {
      font-size: 30px;
      margin-top: 20px; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 800px;
  background-color: black;
  padding: 0px 40px; }
  @media screen and (min-width: 600px) {
    .hero {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0px 100px; } }
  .hero p {
    font-size: 25px;
    margin-bottom: 10px; }
    @media screen and (min-width: 1240px) {
      .hero p {
        margin: 25px 0px; } }
  .hero .illustration-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
    @media screen and (min-width: 1240px) {
      .hero .illustration-container {
        margin-top: 0; } }
    .hero .illustration-container .hero-illustration {
      width: 280px;
      height: 350px; }
      @media screen and (min-width: 1240px) {
        .hero .illustration-container .hero-illustration {
          width: 430px;
          height: 600px; } }

@media screen and (min-width: 600px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; } }
.intro .profile {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  position: relative; }
  @media screen and (min-width: 1240px) {
    .intro .profile {
      margin: 0; } }
.intro .me-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%; }
  @media screen and (min-width: 600px) {
    .intro .me-pic {
      width: 190px;
      height: 190px; } }
  @media screen and (min-width: 1240px) {
    .intro .me-pic {
      width: 300px;
      height: 300px;
      margin-top: 50px; } }
@media screen and (min-width: 600px) {
  .intro p {
    text-align: center; } }
@media screen and (min-width: 1240px) {
  .intro p {
    line-height: 60px; } }

.skills-container h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 90px; }
  @media screen and (min-width: 600px) {
    .skills-container h2 {
      font-size: 40px; } }
.skills-container .icons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .skills-container .icons-container {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 1240px) {
    .skills-container .icons-container {
      grid-template-columns: repeat(4, 1fr); } }
  .skills-container .icons-container i {
    font-size: 80px;
    color: white;
    margin: 30px 0px; }

#portfolio h2 {
  margin-bottom: 50px; }
#portfolio .cheeky-txt {
  color: white;
  font-family: "Londrina Outline";
  font-size: 30px;
  margin-bottom: 50px; }
  @media screen and (min-width: 600px) {
    #portfolio .cheeky-txt {
      text-align: center; } }
  @media screen and (min-width: 1240px) {
    #portfolio .cheeky-txt {
      font-size: 50px;
      margin-bottom: 100px; } }
#portfolio .desk-tabl-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  overflow: hidden; }
  @media screen and (min-width: 600px) {
    #portfolio .desk-tabl-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 1240px) {
    #portfolio .desk-tabl-grid {
      grid-template-columns: repeat(2, 1fr); } }
#portfolio .portfolio-cards {
  background-color: #0009;
  border-radius: 5px;
  font-family: "Playfair Display", serif;
  position: relative; }
  #portfolio .portfolio-cards .project-images {
    width: 100%;
    height: 200px; }
    @media screen and (min-width: 1240px) {
      #portfolio .portfolio-cards .project-images {
        height: 400px; } }
  #portfolio .portfolio-cards .prjct-descrptn {
    padding: 30px; }
  #portfolio .portfolio-cards h3 {
    color: white;
    margin-bottom: 12px; }
  #portfolio .portfolio-cards p {
    font-size: 16px;
    color: #fff9;
    line-height: 30px;
    margin: 20px 0px 40px; }
  #portfolio .portfolio-cards a {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px; }
  #portfolio .portfolio-cards .w-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/vancouver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px; }
  #portfolio .portfolio-cards .forecast-degrees {
    font-size: 80px;
    color: white; }
  #portfolio .portfolio-cards .tooltip {
    visibility: visible;
    width: 60px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: 10px;
    bottom: 60px; }
    #portfolio .portfolio-cards .tooltip::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 80%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent; }
  #portfolio .portfolio-cards i {
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    cursor: pointer; }
    #portfolio .portfolio-cards i:hover {
      color: #f3bd52;
      transition: .2s ease; }

#contact {
  margin-bottom: 0; }
  #contact p {
    color: white;
    text-align: center;
    margin: 50px 0px; }

.van-skyline {
  position: relative;
  height: 180px; }
  .van-skyline img {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .van-skyline .van-1 {
    z-index: 3; }
  .van-skyline .van-2 {
    z-index: 2; }
  .van-skyline .van-3 {
    z-index: 1; }

.contact-form {
  margin-bottom: 0;
  background-color: #f3bd52; }
  @media screen and (min-width: 600px) {
    .contact-form {
      margin: 0px 100px 100px;
      border-radius: 10px; } }
  @media screen and (min-width: 1240px) {
    .contact-form {
      margin: 0px 350px 100px; } }
  .contact-form form {
    display: flex;
    flex-direction: column;
    padding: 20px; }
    @media screen and (min-width: 600px) {
      .contact-form form {
        padding: 20px 50px; } }
  .contact-form input {
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0px; }
  .contact-form textarea {
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    resize: none; }
  .contact-form .sbmt-btn {
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer; }
    @media screen and (min-width: 1240px) {
      .contact-form .sbmt-btn {
        align-self: center;
        padding: 15px 80px; } }
  .contact-form .contact-icons {
    text-align: center; }
    .contact-form .contact-icons i {
      font-size: 50px;
      color: white;
      margin: 20px 15px 40px; }
      @media screen and (min-width: 1240px) {
        .contact-form .contact-icons i {
          font-size: 50px; } }

footer {
  background-color: black;
  color: white;
  padding: 41px; }
  @media screen and (min-width: 600px) {
    footer {
      padding: 70px 150px; } }
  @media screen and (min-width: 1240px) {
    footer {
      padding: 70px 450px; } }
  footer p {
    font-size: 16px; }
    @media screen and (min-width: 1240px) {
      footer p {
        text-align: center; } }
  footer .footer-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0px; }
  footer ul {
    line-height: 25px; }
    @media screen and (min-width: 1240px) {
      footer ul {
        text-align: center; } }

.body-margn {
  padding: 0px 40px;
  margin-bottom: 100px; }
  @media screen and (min-width: 600px) {
    .body-margn {
      padding: 100px; } }

.abt-container {
  height: 50vh;
  display: flex;
  align-items: center; }
  .abt-container h1 {
    transform: translateY(-40px); }
    @media screen and (min-width: 600px) {
      .abt-container h1 {
        transform: translateY(-70px); } }

.abt-description p {
  font-size: 16px;
  color: white; }
  @media screen and (min-width: 600px) {
    .abt-description p {
      font-size: 20px; } }
  @media screen and (min-width: 1240px) {
    .abt-description p {
      font-size: 25px;
      line-height: 40px; } }

.home-button {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  @media screen and (min-width: 600px) {
    .home-button {
      margin-top: 80px; } }
  .home-button a {
    padding: 10px 50px;
    border: 1px solid #f3bd52;
    font-size: 20px;
    font-family: "Playfair Display", serif; }
    @media screen and (min-width: 1240px) {
      .home-button a:hover {
        background: #f3bd52;
        transition: .3s ease; } }

/*# sourceMappingURL=style.css.map */
