
//Fonts

$main: 'Playfair Display', serif;
$secondary: 'Londrina Outline';

//colors

$yellow: #f3bd52;
$yellowAlpha: #f3bd5280;
$darkGrey: #4b4f55;
$blue: #3E7CB1;
$alphaGrey: #5557;
$dark-overlay: linear-gradient(90deg ,rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.3));

//responsive size

$desktopSize: 1240px;
$tabletSize: 600px;