@import 'variables';
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Playfair+Display&display=swap');


//reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $darkGrey;
    margin: 0 auto;
    max-width: 1470px;
}


//globals

main {
    padding: 0px 40px;
    @include tablet {
        padding: 0px 100px;
    }
}

section {
    margin-bottom: 100px;

    @include desktop {
        margin-bottom: 200px;
    }
}

span {
    color: $yellow;
}

hr {
    color: $yellow;
}

a {
    text-decoration: none;
    color:white ;
}

li {
    list-style: none;
    font-family: $main;
}

h1 {
    text-transform: uppercase;
    font-family: $secondary;
    font-size: 90px;
    font-weight: 1;
    color: white;
    line-height: 80px;

    @include tablet {
        font-size: 96px;
    }

    @include desktop {
        font-size: 150px;
        line-height: 140px;
    }
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: $secondary;
    color: $yellow;
    font-size: 40px;

    @include tablet {
        font-size: 60px;
    }
}

p {
    font-family: $main;
    color: #fff;
    font-size: 27px;
    line-height: 40px;

    @include tablet {
        font-size: 25px;
    }

    @include desktop {
        font-size: 35px;
    }
}


//main


//navigation 

.main-nav {
    width: 100%;
    max-width: 1470px;
    text-align: end;
    background-color: black;
    z-index: 1000;

    i {
        font-size: 30px;
        color: $yellow;
        margin: 30px;
        cursor: pointer;

        &:hover {
            color: white;
            
        }
    }

    .ham-menu {
       display: none;
    }

    .active {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 99;
        background-color: $yellow;
        text-align: center;

        li {
            font-size: 30px;
            margin-top: 20px;

        }
    }
}

.hero {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-color: black;
    padding: 0px 40px;

    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px 100px;
    }

    p {
        font-size: 25px;
        margin-bottom: 10px;

        @include desktop {
            margin:25px 0px;
            font-size: 35px;
        }

    }


    .illustration-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        @include desktop {
            margin-top: 0;
        }

        .hero-illustration {
            width: 280px;
            height: 350px;

            @include desktop {
                width: 430px;
                height: 600px;
            }
        }
    }
}

//introduction 



.intro {

    @include tablet {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }


    .profile {
        display: flex;
        justify-content: center;
        margin: 50px 0px;
        position: relative;

        @include desktop {
            margin: 0;
        }
    }

    .me-pic {
        width: 170px;
        height: 170px;
        border-radius: 50%;

        @include tablet {
            width: 190px;
            height: 190px;
        }

        @include desktop {
            width: 300px;
            height: 300px;
            margin-top: 50px;
    
        }
    }

    .description {
        max-width: 750px;
        margin: 0 auto;
    }

    p {
        @include tablet {
            text-align: center;
        }

        @include desktop {
            line-height: 60px;
        }
    }

    
}


//skills

.skills-container {


    h2 {
        font-size: 30px;
        color: white;
        margin-bottom: 90px;

        @include tablet {
            font-size: 40px;
        }
    }

    .icons-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;

        @include tablet {
            grid-template-columns: repeat(3,1fr);
        }

        @include desktop {
            grid-template-columns: repeat(4,1fr);
        }

        i {
            font-size: 80px;
            color: white;
            margin: 30px 0px;


            
        }

       
    }
}


//portfolio 

#portfolio {
    
    h2 {
        margin-bottom: 50px;
    }

    .cheeky-txt {
        color: white;
        font-family: $secondary;
        font-size: 30px;
        margin-bottom: 50px;

        @include tablet {
            text-align: center;
        }

        @include desktop {
            font-size: 50px;
            margin-bottom: 100px;
        }

    }

    .desk-tabl-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        overflow: hidden;

        @include tablet {
            grid-template-columns: repeat(2,1fr);
        }

        @include desktop {
            grid-template-columns: repeat(2,1fr);
        }
    }

    .portfolio-cards {
        background-color: #0009;
        border-radius: 5px;
        font-family: $main;
        position: relative;

        .project-images {
            width: 100%;
            height: 200px;

            @include desktop {
                height: 400px;
            }
            
        }

        .prjct-descrptn {
            padding: 30px;
        }

        h3 {
            color: white;
            margin-bottom: 12px;
        }

        p {
            font-size: 16px;
            color: #fff9;
            line-height: 30px;
            margin:20px 0px 40px;
        }

        a {
            padding: 10px;
            border: 2px solid white;
            border-radius: 5px;

        }

        //dark overlay on weather app image

        .w-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: $dark-overlay, url("../images/vancouver.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0px;
        }

        .forecast-degrees {
            font-size: 80px;
            color: white;

        }


        //info bubble above the code logo
        .tooltip {

            visibility: visible;
            width: 60px;
            background-color: #555;
            color: white;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            right: 10px;
            bottom: 60px;

           
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 80%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        }


        i {
            font-size: 30px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: white;
            cursor: pointer;

            &:hover {
                color: $yellow;
                transition: .2s ease;

            }
        }

       


        

    }
}


//contact

#contact {
    margin-bottom: 0;

    @include desktop {
        margin-bottom: 100px;
    }

    .contact-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        margin: 0 auto;
    }

    p {
        color: white;
        text-align: center;
        margin: 50px 0px 30px;
    }

    i {
        color: $yellow;
        font-size: 40px;
        animation: downArrow 2.5s infinite;
    }
    
}

// arrow animation

@keyframes downArrow {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.van-skyline {
    position: relative;
    height: 220px;

    @include tablet {
        height: 480px;
    }

    @include desktop {
        display: none;
    }

    img {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .van-1 {
        z-index: 3;
    }

    .van-2 {
        z-index: 2;

    }

    .van-3 {
        z-index: 1;

    }
}

.contact-form {
    margin-bottom: 0;
    background-color: $yellow;
    
    @include tablet {
        display: grid;
        grid-template-columns: 60% auto;
    }
    
    @include desktop {
        grid-template-columns: 50% auto;
        padding:50px 0;
       
    }
    
    form {
        display: flex;
        flex-direction: column;
        padding: 20px;

        @include tablet {
        padding: 20px 50px;
          
        }
    }
    
    input {
        border: none;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0px;
    }
    
    textarea {
        border: none;
        border-radius: 5px;
        margin: 10px 0px;
        padding: 10px;
        resize: none;
    }
    
    .sbmt-btn {
        font-family: $main;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: black;
        cursor: pointer;

        @include desktop {
            align-self: center;
            padding: 15px 80px;

        }
    }

    .contact-icons {
        text-align: center;

        @include tablet {
            display: flex;
            align-items: center;
        }

        @include desktop {
            justify-content: center;
        }
    
        i {
            font-size: 50px;
            color: white;
            margin: 20px 15px 40px;
    
            @include desktop {
                font-size: 70px;
            }
    
            
        }
    }
}



// footer 

footer {
    background-color: black;
    color: white;
    padding: 41px;


    @include tablet {
        padding: 70px 150px;
    }

    @include desktop {
        padding: 70px 450px;
    }

    p {
        font-size: 16px;

        @include desktop {
            text-align: center;
        }

            
    }

    .footer-list-grid {
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px 0px;
    }

    ul {
        line-height: 25px;
        @include desktop {
            text-align: center;
        }
    }
}


// ------------------ ABOUT ------------------------ 


.body-margn {
    padding: 0px 40px;
    margin-bottom: 100px;

    @include tablet {
        padding: 100px;
    }
}

.abt-container {
    height: 50vh;
    display: flex;
    align-items: center;

    h1 {
        transform: translateY(-40px);

        @include tablet {
            transform: translateY(-70px);
        }
    }
}


.abt-description {

    p {
        font-size: 16px;
        color: white;

        @include tablet {
            font-size: 20px;
        }

        @include desktop {
            font-size: 25px;
            line-height: 40px;
        }
    }
}

.home-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    @include tablet {
         margin-top: 80px;   
    }

 

    a {
        padding: 10px 50px;
        border: 1px solid $yellow;
        font-size: 20px;
        font-family: $main;

        @include desktop {
            &:hover {
                background: $yellow;
                transition: .3s ease;
            }
        }

    }
}


